body { margin: 0; font-family: sans-serif; }
#map { width: 100%; height: 500px; border-radius: 1rem; }
header { position: sticky; top: 0; z-index: 9999; background-color: white; }
.card-shadow { box-shadow: 0 6px 18px rgba(14,165,164,0.08); }
